SECRET_KEY=your-secret-key-here
DEBUG=True

DB_NAME=electronics_store
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your-email@mail.ru
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=ВОЛЬТ <your-email@mail.ru>
